body{
    background-color: antiquewhite;
    text-align: center;
}

form{
    text-align: center;
}

#pwd{
    font-weight: bold;
}


#email{
    font-weight: bold;
}

#mob{
    font-weight: bold;
}

#pass{
    font-weight: bold;
}


error-output{
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
}